// ==================================
// Typography
// ==================================
//
// Font, tinggi baris, dan warna untuk teks isi, judul, dan lainnya.

$font-family-base:                                              			Hind, sans-serif !default; // Keluarga font Hind
$font-family-sl-icons:                                              	Simple-Line-Icons !default; // Plugin ikon pihak ketiga Simple Line Icons

// Colors
$color-base:                                                            #17bed2 !default;
$color-white:                                                           #fff !default;
$color-heading:                                                        	#515769 !default;
$color-subtitle:                                                        #a6a7aa !default;
$color-link:                                                        		#81848f !default;
$color-link-hover:                                                      #999caa !default;
$color-sky-light:                                                      	#fafafa !default;
	
// Spacer
$ver-center-block-height:														400px !default;


// ==================================
// Titik henti kueri media
// ==================================
//
//Tentukan breakpoint di mana tata letak nya akan berubah, beradaptasi dengan ukuran layar yang berbeda.

// Layar / ponsel ekstra kecil
$screen-xs-min:                											480px !default;

// Layar / tablet kecil
$screen-sm-min:                											768px !default;

// Layar sedang / desktop
$screen-md-min:                											992px !default;

// Layar besar / desktop lebar
$screen-lg-min:                											1200px !default;

// Layar besar / desktop lebih lebar
$screen-lg-med:                     								1260px !default;

//Agar kueri media tidak tumpang tindih saat dibutuhkan, berikan yang maksimal
$screen-xs-max:             												($screen-sm-min - 1) !default;
$screen-sm-max:                											($screen-md-min - 1) !default;
$screen-md-max:                											($screen-lg-min - 1) !default;
